/*********** Global Styles *******************************************************/
:root {
  --primary: rgb(92, 210, 185);
  --light: rgb(249, 249, 249);
  --grey: rgb(170, 170, 170);
  --light-dark: #151515;
  --dark: #020101;
  --main-font: "Work Sans", sans-serif;
  --sub-font: "Roboto", serif;
  --special-font: "Poppins";
  --light-font-weight: 400;
  --bold-font-weight: 600;
  --bolder-font-weight: 800;
  --p-size: 16px;
  --small-font-size: 18px;
  --large-font-size: 24px;
  --x-large-font-size: 55px;
  --xx-large-font-size: 75px;
  --main-line-height: 1em;
  --main2-line-height: 1.3em;
  --sub-line-height: 2rem;
  --letter-spacing: 4px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  text-transform: capitalize;
  font-family: var(--main-font);
}

p {
  color: var(--grey);
  font-family: var(--sub-font);
  font-size: var(--p-size);
  width: 69%;
  font-weight: var(--light-font-weight);
  line-height: var(--sub-line-height);
}

/*********** Typography & Colors *************************************************/
.special-span {
  color: var(--primary);
}

.special-h5 {
  color: var(--primary);
  font-size: var(--small-font-size);
  font-weight: var(--light-font-weight);
  font-family: var(--special-font);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: var(--xx-large-font-size);
  font-weight: var(--bolder-font-weight);
  font-family: var(--main-font);
  line-height: var(--main-line-height);
}

.co-light {
  color: var(--light);
}

.co-primary {
  color: var(--primary);
}

.primary-hr {
  width: 100px;
  border: 2px solid var(--primary);
}

/*********** Flexbox Layout Utilities ********************************************/
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

/*********** Icon Styles *********************************************************/
.icon {
  width: 70px;
  height: 70px;
}

/*********** Buttons Styling *****************************************************/
.button {
  display: inline-block;
  position: relative;
}

.button.is-play {
  background-color: var(--primary);
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.button.is-play .button-outer-circle {
  background: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.button.is-play .button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.button-icon .triangle {
  animation: fadeIn 7s ease;
}

.button-icon .path {
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  animation: triangleStroke 3s ease;
}

.scale-animation {
  animation: smallScale 3s infinite;
}

.delay-short {
  animation-delay: 0.5s;
}

.btn {
  color: var(--light);
  text-transform: uppercase;
  border: 1px solid var(--primary);
  width: 120px;
  height: 60px;
  text-align: center;
  padding: 20px;
  background-color: var(--primary);
}

.btn:hover {
  border-left-width: 3px;
  border-right-width: 3px;
  background-color: inherit;
  padding: 15px;
}

/*********** Header Styles *******************************************************/
header,
header .background,
header .overlay {
  width: 100%;
  min-height: 100vh;
}

.background,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

header .background {
  background-image: url('../imgs/portsitb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

header .overlay {
  background: linear-gradient(to right, var(--dark) 50%, var(--primary));
  opacity: 0.2;
  z-index: 2;
}

/*********** Navbar Styles ********************************************************/
.logo {
  width: 200px;
}

.nav-bar {
  align-items: center;
  justify-content: space-around;
  background-color: var(--light-dark);
  position: relative;
  min-height: 17vh;
  z-index: 3;
}

.nav-bar .menu {
  gap: 2rem;
}

.menu-item a:hover {
  color: var(--primary);
}

/*********** Home Styles *********************************************************/
.home-container,
.home-content {
  position: relative;
  z-index: 3;
}

.home-container {
  min-height: 79vh;
  padding: 3rem 7rem;
}

.home-content {
  justify-content: space-between;
  margin: 10px 20px;
  width: 70%;
  height: 49vh;
}

.video-container {
  padding: 0rem 2rem;
  margin-top: 30px;
}

.video-content {
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--special-font);
  margin-left: 40px;
}

.video-content h4 {
  letter-spacing: 4px;
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
  font-size: 18px;
}

.video-content h5 {
  text-transform: capitalize;
}

.video-content .primary-hr {
  border: 1px solid #ffffff25;
}

/*********** Services Styles *****************************************************/
#services {
  background-color: var(--dark);
  width: 100%;
  min-height: 100vh;
  padding: 6rem;
  display: flex;
  gap: 20px;
}

#services .content {
  width: 45%;
  min-height: 70vh;
  justify-content: space-between;
}

.cards {
  width: 60%;
}

.cards > .row {
  row-gap: 20px;
  column-gap: 20px;
}

.card {
  text-align: center;
  margin: 30px auto;
  width: 300px;
  height: 210px;
  box-shadow: 10px 5px 30px 7px var(--dark), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  background-color: #1515159d;
}

.card h4 {
  color: var(--light);
  font-size: 16px;
  width: 100%;
  line-height: var(--main2-line-height);
  font-weight: var(--bold-font-weight);
  font-size: 24px;
  font-style: var(--special-font);
}

.card p {
  width: 100%;
  font-size: 15px;
}

.linear-back {
  background-color: transparent;
  background-image: linear-gradient(180deg, var(--dark) 0%, rgba(92, 210, 185, 0.589) 120%);
  padding: 1em 2em;
  border-color: var(--primary);
}

.m-b {
  position: relative;
  bottom: 40px;
}

/*********** About Us Styles *****************************************************/
#about {
  background-color: var(--light-dark);
  width: 100%;
  padding: 7rem 7rem 0rem 7rem;
  min-height: 100vh;
}

#about .content {
  width: 100%;
  height: 50vh;
  justify-content: space-between;
}

#about .content h1 {
  font-size: var(--x-large-font-size);
}

#about .content p {
  width: 100%;
}

.about-cards {
  width: 100%;
  background-color: none !important;
}

.about-cards .card-about {
  margin: 0;
  box-shadow: none;
  background-color: none !important;
  align-items: center;
  text-align: start;
}

.card-content {
  padding: 10px;
}

/*********** Count Styles *********************************************************/
#count {
  width: 100%;
  height: 50vh;
}

#count .background,
#count .overlay {
  width: 100%;
  min-height: 50vh;
  position: absolute;
  top: inherit;
}

#count .background {
  background-image: url(../imgs/count.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

#count .overlay {
  background: linear-gradient(to left, var(--dark) 20%, rgba(92, 210, 185, 0.247));
  opacity: 0.7;
  z-index: 2;
}

.count-content {
  position: relative;
  z-index: 3;
  padding: 4rem;
}

.count-card {
  margin: 0 auto;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
}

.count-card .icon {
  width: 90px;
  height: 90px;
}

.count-card p {
  font-family: var(--special-font);
  font-weight: var(--bolder-font-weight);
  font-size: var(--x-large-font-size);
  line-height: var(--main-line-height);
  letter-spacing: 2px;
}

.count-content p > span {
  font-weight: var(--bolder-font-weight);
  font-size: var(--x-large-font-size);
}

.card-content .span2 {
  letter-spacing: 2px;
  font-size: 30px;
}
